.coach-card {

}

.coach-button {
  position: relative;
  bottom: 0;
}

.card-body {
  display: inline-block;
}

.filter-input {
  width: 30vw;
}

.dropdownitem {
  width: 30vw;
}

.search-items {
  margin: auto;
}
