.coach-card {

}

.coach-button {

}

.card-body {

}

.filter-input {
  width: 30vw;
}

.dropdownitem {
  width: 30vw;
}

.search-items {
  margin-bottom: 30px;
}

.send-message {
  text-decoration: none;
  color: white;
}
