<hr>
<div class="container navbar-fixed-bottom navbar-info">
  <div class="row text-center">
    <div class="col-12">



      <div class="row">
        <div class="row text-center">
          <div class="col-3"><i class="fa fa-home" aria-hidden="true"></i><a class="footer-link" routerLink="/home">
            Home</a></div>
          <div class="col-3"><i class="fa fa-sign-out" aria-hidden="true"></i><a class="footer-link"
                                                                                 routerLink="/registration">
            Register</a></div>
          <div class="col-3"><i class="fa fa-envelope"></i><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                                              class="footer-link"> Contact</a></div>
          <div class="col-3"><i class="fa fa-question"></i><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                                              class="footer-link"> About Us</a></div>
        </div>
      </div>

    </div>
  </div>
  <br><br>
  <div class="text-center mt-auto">
    <a class="btn btn-primary" style="background-color: #3b5998;" href="https://facebook.com" role="button"><i class="fa fa-facebook-f"></i></a>

    <a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com" role="button"><i class="fa fa-twitter"></i></a>

    <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://instagram.com" role="button"><i class="fa fa-instagram"></i></a>

    <a class="btn btn-primary" style="background-color: #0082ca;" href="https://linkedin.com" role="button"><i class="fa fa-linkedin"></i></a>
    © 2021 - Switchfully
  </div>

</div>

