<hr>
<div class="container navbar-fixed-bottom navbar-info">
  <div class="row text-center">
    <div class="col-12">



      <div class="row">
        <div class="row text-center">
          <div class="col-3"><a routerLink="/home">Home</a></div>
          <div class="col-3"><a routerLink="/register">Register</a></div>
          <div class="col-3"><a routerLink="/contact">Contact</a></div>
          <div class="col-3"><a routerLink="/about-us">About Us</a></div>
        </div>
      </div>

    </div>
  </div>
  <br><br>
  <div class="text-center">
    <a class="btn btn-primary" style="background-color: #3b5998;" href="https://facebook.com" role="button"><i class="fa fa-facebook-f"></i></a>

    <a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com" role="button"><i class="fa fa-twitter"></i></a>

    <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://instagram.com" role="button"><i class="fa fa-instagram"></i></a>

    <a class="btn btn-primary" style="background-color: #0082ca;" href="https://linkedin.com" role="button"><i class="fa fa-linkedin"></i></a>
    © 2021 - Switchfully
  </div>

</div>
