<form [formGroup]="createRegistrationForm" (ngSubmit)="onSubmit()">
  <div class="container mb-3">
    <div class="mb-3 mt-3">
      <input class="form-control" id="exampleFormControlInput1" placeholder="First Name">
    </div>
    <div class="mb-3">
      <input class="form-control" id="exampleFormControlInput2" placeholder="Last Name">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="exampleFormControlInput4" placeholder="Password">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="exampleFormControlInput5" placeholder="Confirm Password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary pull-right mt-2">Register</button>
    </div>
  </div>
</form>
