<p>Profile information works</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, cupiditate dicta enim esse est illo in necessitatibus nobis possimus quis sequi voluptate voluptates. Ad dolorem eveniet facilis nesciunt unde?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum cumque cupiditate eveniet labore, nesciunt repudiandae suscipit. Autem consequatur deserunt dignissimos eum eveniet, ex, fugit nihil optio possimus repellendus voluptate.</p>
<div *ngIf="user">

  <div>
    <div><span>Firstname: </span>{{user.firstName}}</div>
    <div><span>Lastname: </span>{{user.lastName}}</div>
    <div><span>Email: </span>{{user.email}}</div>
    <div><span>Role: </span>{{user.role}}</div>
  </div>
</div>
