<div class="container">
  <section class="tiny-dialog fader">
    <div class="form-group">
      <h3>Register</h3>
      <form [formGroup]="createRegistrationForm" (ngSubmit)="onSubmit()">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="Firstname" id="firstName">
        <label for="Lastname">Lastname</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Lastname" id="Lastname">
        <label for="Email">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Email"
               id="Email">
        <label for="Password">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password"
               id="Password">
        <button type="submit" class="btn btn-primary pull-right mt-2">Register</button>
      </form>
    </div>
  </section>
</div>

