<!--SEARCH BAR-->
<div class="container-fluid">
  <div class="input-group">
    <input [(ngModel)]="searchText"
           type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-info">search</button>
  </div>
</div>

<!--COACH LIST-->
<div class="container-fluid">
  <br>
  <div class="row">
    <div *ngFor="let user of userList | nameFilter: searchText">
      <div *ngIf="user.role == 'Coach'">
        <h4>{{user.firstName}} {{user.lastName}}</h4>
        <div class="product-box">
          <div class="card align-content-center">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <img src="assets/images/profile-picture.jpg" class="img-responsive">
                </div>
                <div class="col-6">
                  <div class="row">
                    <p>Coach Topic 1</p>
                    <p>Coach Topic 2</p>
                    <p>Coach Topic 3</p>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="pull-right">
                      <a href="#" class="btn btn-info"><a href="mailto:{{user.email}}">Send Message</a></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
