<div class="container-fluid">
  <div class="row">
    <div *ngFor="let user of userList">
      <div *ngIf="user.role == 'Coach'">
        <h4>{{user.firstName}} {{user.lastName}}</h4>
        <div class="product-box">
          <div class="card align-content-center">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <img src="assets/images/profile-picture.jpg" class="img-responsive">
                </div>
                <div class="col-6">
                  <div class="row">
                    <p>Put coach topics here</p>
                  </div>
                  <div class="row">
                    <div class="pull-right">
                      <a href="#" class="btn btn-primary">Send Message</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
