section {
  position: relative
}

.section-content {
  position: relative;
  margin: 0 auto;
  z-index: 1
}

.section-content-p30 {
  padding: 0 30px
}


.product-box img {
  width: 150px;
}

.product-box {
  margin-bottom: 60px
}


.product-box h1 {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: 600;
  padding-top: 12px;
  margin-bottom: 7px
}

.product-box h2 {
  font-size: 15px;
  padding-bottom: 0;
  font-weight: 500;
  color: #585858
}


* {margin:0;padding:0;}


html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;}
