<div class="container">
  <div class="row">
    <img src="assets/images/youcoach_background1.jpg" height="300px" alt="">
  </div>
  <br>
  <div class="row mt-20 mb-20">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 class="text-center">Code Coach</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur eveniet facilis illum minus modi provident? Aspernatur consequatur delectus eveniet quaerat voluptatibus. Deserunt esse eveniet odio, optio totam veniam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto facilis iste itaque nobis perferendis quos repellendus sed similique vel. Dignissimos ea exercitationem labore numquam ratione tempora temporibus veritatis vero!</p>
      <P>Debitis ducimus eius excepturi hic in iusto magni maiores mollitia nostrum nulla numquam obcaecati quae quasi quo totam voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cum, explicabo illum odit quam? Accusamus eaque facilis quam sit tempora? Alias dolor dolorum eligendi nobis recusandae sapiente similique voluptatem.</P>
    </div>
  </div>
  <div class="row mt-20 mb-20">
    <img src="assets/images/youcoach_background2.jpg" class="img-fluid" height="200px" alt="">
  </div>
  <br>
  <div class="row text-center mt-20 mb-20">
    <div class="col-6 text-center">
      <h2>Coach</h2>
      <h6>Help other & learn by coaching</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eveniet facilis illo in ipsam, ipsum non obcaecati omnis praesentium voluptatum. Aut cupiditate eos illo in laborum modi qui sapiente totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque commodi dicta distinctio eius ipsam nisi perferendis quaerat quas tempore. Adipisci beatae eveniet minima, natus neque quia quis quod totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur, beatae cum cumque cupiditate distinctio esse explicabo ipsum iusto nihil nisi nobis non odit perspiciatis qui soluta totam unde vel.</p>
      <div>
        <button class ="btn btn-outline-info"><a href="#">BECOME A COACH</a></button>
        <br>
      </div>
    </div>
    <div class="col-6 text-center">
      <h2>Be Coached</h2>
      <h6>Improve by being coached</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eveniet facilis illo in ipsam, ipsum non obcaecati omnis praesentium voluptatum. Aut cupiditate eos illo in laborum modi qui sapiente totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque commodi dicta distinctio eius ipsam nisi perferendis quaerat quas tempore. Adipisci beatae eveniet minima, natus neque quia quis quod totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur, beatae cum cumque cupiditate distinctio esse explicabo ipsum iusto nihil nisi nobis non odit perspiciatis qui soluta totam unde vel.</p>
      <div>
        <button class ="btn btn-outline-info"><a href="#">FIND A COACH</a></button>
        <br>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="row mt-20 mb-20">
    <img src="assets/images/youcoach_background3.jpg" class="img-fluid" height="200px" alt="">
  </div>
  <br>
  <div class=" row mt-20 text-center">
      <h2>Get in Touch</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto atque earum nam provident, quaerat quisquam repellat saepe sint suscipit ut, voluptas! Amet aut beatae dignissimos doloribus dolorum velit voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam autem debitis dignissimos dolorem ducimus impedit laborum minima, nihil quibusdam tempore ullam unde! Debitis, doloribus enim ex laborum quam unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur cum dolore doloribus eveniet ex, fugit modi quae reiciendis sit ullam voluptate! Dolorum, error hic iusto odit reprehenderit repudiandae sequi.</p>
  </div>
</div>
