<div class="container">
  <div class="row">
    <img src="assets/images/youcoach_background1.jpg" height="300px" alt="">
  </div>
  <br>
  <div class="row mt-20 mb-20">
    <div class="col-2"></div>
    <div class="col-8 header-text">
      <h2 class="text-center">Code Coach</h2>
      <p>Welcome to the Code Coach. Here you can find a coach for the topics that you want to learn about from various
        coaches in
        our platform. Or if you are capable of teaching a subject, you can also become a coach and give coaching
        sessions. </p>
    </div>
  </div>
  <div class="row mt-20 mb-20">
    <img src="assets/images/youcoach_background2.jpg" class="img-fluid" height="200px" alt="">
  </div>
  <br>
  <div class="row text-center mt-20 mb-20">
    <div class="col-6 text-center">
      <h2>Coach</h2>
      <h6>Help other & learn by coaching</h6>
      <p> You start with your passion and knowledge. Then choose a promising topic.
        The way that you teach — what you bring to it — is up to you.</p>
      <div>
        <button class="btn btn-outline-info"><a class="home-btn" href="#">BECOME A COACH</a></button>
        <br>
      </div>
    </div>
    <div class="col-6 text-center">
      <h2>Be Coached</h2>
      <h6>Improve by being coached</h6>
      <p>Top instructors from around the world teach millions of students on Code-Coach. We provide the tools and skills
        to teach what you love.</p>
      <div>
        <button class="btn btn-outline-info"><a class="home-btn" href="#">FIND A COACH</a></button>
        <br>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="row mt-20 mb-20">
    <img src="assets/images/youcoach_background3.jpg" class="img-fluid" height="200px" alt="">
  </div>
  <br>
</div>
