<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Create an Account</h1>
        <hr/>
      </div>
    </div>
    <div class="main-login main-center">
      <section class="tiny-dialog fader">
        <div class="form-group">

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="John" id="firstName">
            <span class="text-danger"
                  *ngIf="(registerFormControl.firstName.touched || submitted) && registerFormControl.firstName.errors?.required">
                                Name is required
              <br>
          </span>
            <label for="Lastname">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Doe" id="Lastname">
            <span class="text-danger"
                  *ngIf="(registerFormControl.lastName.touched || submitted) && registerFormControl.lastName.errors?.required">
                                LastName is required
              <br>
          </span>
            <label for="Email">Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="test@email.com"
                   id="Email">
            <span class="text-danger"
                  *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
              <br>
                            </span>
            <span class="text-danger"
                  *ngIf="(registerFormControl.email.touched || submitted) && !registerFormControl.email.errors?.required && registerFormControl.email.errors?.invalidEmail">
                                Email is invalid
              <br>
                            </span>
            <span class="text-danger"
                  *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.existingEmail">
                                Email already exists
              <br>
                            </span>
            <label for="Password">Password</label>
            <input type="password" class="form-control" formControlName="password"
                   placeholder="At least 8 characters, 1 capital letter & 1 number"
                   id="Password">
            <span class="text-danger"
                  *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                Password is required
              <br>
                            </span>
            <span class="text-danger"
                  *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
              <br>
                            </span>
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span class="text-danger"
                  *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
                                Confirm Password is required
              <br>
                            </span>
            <span class="text-danger"
                  *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                                Passwords does not match
              <br>
                            </span>
            <button type="submit" class="btn btn-primary pull-right mt-2">Register</button>


          </form>
          <a routerLink="/log">Already have an account?</a>
        </div>
      </section>
    </div>
  </div>
</div>

